<!DOCTYPE html>
<html lang="en-us">
<head>
  
  

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Source Themes Academic 3.1.1">

  <link rel="manifest" href="/site.webmanifest">
  <link rel="icon" type="image/png" href="/img/icon.png">
  <link rel="apple-touch-icon" type="image/png" href="/img/icon-192.png">

  <link rel="canonical" href="/slides/example-slides/">

  <title> | Kostas Vasilopoulos</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/css/reveal.min.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/css/theme/black.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/dracula.min.css" crossorigin="anonymous">

  
  
  
  <link rel="stylesheet" href="/css/reveal_custom.min.css">

  
  <script>
    var link = document.createElement( 'link' );
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match( /print-pdf/gi ) ? 'https:\/\/cdnjs.cloudflare.com\/ajax\/libs\/reveal.js\/3.7.0/css/print/pdf.css' : 'https:\/\/cdnjs.cloudflare.com\/ajax\/libs\/reveal.js\/3.7.0/css/print/paper.css';
    document.getElementsByTagName( 'head' )[0].appendChild( link );
  </script>

</head>
<body>

  
<div class="reveal">
  <div class="slides">
    
    
    

    
    

    
    

    
    
    
      

<h1 id="toc_0">+++</h1>

<h1 id="title-slides">title = &ldquo;Slides&rdquo;</h1>

<h1 id="slides">[slides]</h1>

<h1 id="choose-a-theme-from-https-github-com-hakimel-reveal-js-theming"># Choose a theme from <a href="https://github.com/hakimel/reveal.js#theming" target="_blank">https://github.com/hakimel/reveal.js#theming</a></h1>

<h1 id="theme-black">theme = &ldquo;black&rdquo;</h1>

<h1 id="toc_5">+++</h1>

<h1 id="welcome-to-slides"># Welcome to Slides</h1>

<h1 id="academic-https-sourcethemes-com-academic"><a href="https://sourcethemes.com/academic/" target="_blank">Academic</a></h1>

<h1 id="toc_8">&mdash;</h1>

<h1 id="features">## Features</h1>

<h1 id="efficiently-write-slides-in-markdown">- Efficiently write slides in Markdown</h1>

<h1 id="3-in-1-create-present-and-publish-your-slides">- 3-in-1: Create, Present, and Publish your slides</h1>

<h1 id="supports-speaker-notes">- Supports speaker notes</h1>

<h1 id="mobile-friendly-slides">- Mobile friendly slides</h1>

<h1 id="toc_14">&mdash;</h1>

<h1 id="controls">## Controls</h1>

<h1 id="next-right-arrow-or-space">- Next: <code>Right Arrow</code> or <code>Space</code></h1>

<h1 id="previous-left-arrow">- Previous: <code>Left Arrow</code></h1>

<h1 id="start-home">- Start: <code>Home</code></h1>

<h1 id="finish-end">- Finish: <code>End</code></h1>

<h1 id="overview-esc">- Overview: <code>Esc</code></h1>

<h1 id="speaker-notes-s">- Speaker notes: <code>S</code></h1>

<h1 id="fullscreen-f">- Fullscreen: <code>F</code></h1>

<h1 id="zoom-alt-click">- Zoom: <code>Alt + Click</code></h1>

<h1 id="pdf-export-https-github-com-hakimel-reveal-js-pdf-export-e">- <a href="https://github.com/hakimel/reveal.js#pdf-export" target="_blank">PDF Export</a>: <code>E</code></h1>

<h1 id="toc_25">&mdash;</h1>

<h1 id="code-highlighting">## Code Highlighting</h1>

<h1 id="inline-code-variable">Inline code: <code>variable</code></h1>

<h1 id="code-block">Code block:</h1>

<h1 id="python">```python</h1>

<h1 id="porridge-blueberry">porridge = &ldquo;blueberry&rdquo;</h1>

<h1 id="if-porridge-blueberry">if porridge == &ldquo;blueberry&rdquo;:</h1>

<h1 id="print-eating">print(&ldquo;Eating&hellip;&rdquo;)</h1>

<h1 id="toc_33">```</h1>

<h1 id="toc_34">&mdash;</h1>

<h1 id="math">## Math</h1>

<h1 id="in-line-math-x-y-z">In-line math: $x + y = z$</h1>

<h1 id="block-math">Block math:</h1>

<h1 id="toc_38">$$</h1>

<h1 id="f-left-x-right-frac-2-left-x-4-right-left-x-4-right-left-x-4-right-left-x-1-right">f\left( x \right) = \;\frac{{2\left( {x + 4} \right)\left( {x - 4} \right)}}{{\left( {x + 4} \right)\left( {x + 1} \right)}}</h1>

<h1 id="toc_40">$$</h1>

<h1 id="toc_41">&mdash;</h1>

<h1 id="fragments">## Fragments</h1>

<h1 id="make-content-appear-incrementally">Make content appear incrementally</h1>

<h1 id="toc_44">```</h1>

<h1 id="fragment-one-fragment">{{% fragment %}} One {{% /fragment %}}</h1>

<h1 id="fragment-two-fragment">{{% fragment %}} <strong>Two</strong> {{% /fragment %}}</h1>

<h1 id="fragment-three-fragment">{{% fragment %}} Three {{% /fragment %}}</h1>

<h1 id="toc_48">```</h1>

<h1 id="press-space-to-play">Press <code>Space</code> to play!</h1>

<h1 id="span-class-fragment"><span class="fragment " ></h1>

<p>One
</span></p>

<h1 id="span-class-fragment-1"><span class="fragment " ></h1>

<p><strong>Two</strong>
</span></p>

<h1 id="span-class-fragment-2"><span class="fragment " ></h1>

<p>Three
</span></p>

<h1 id="toc_53">&mdash;</h1>

<h1 id="a-fragment-can-accept-two-optional-parameters">A fragment can accept two optional parameters:</h1>

<h1 id="class-use-a-custom-style-requires-definition-in-custom-css">- <code>class</code>: use a custom style (requires definition in custom CSS)</h1>

<h1 id="weight-sets-the-order-in-which-a-fragment-appears">- <code>weight</code>: sets the order in which a fragment appears</h1>

<h1 id="toc_57">&mdash;</h1>

<h1 id="speaker-notes">## Speaker Notes</h1>

<h1 id="add-speaker-notes-to-your-presentation">Add speaker notes to your presentation</h1>

<h1 id="markdown">```markdown</h1>

<h1 id="speaker-note">{{% speaker_note %}}</h1>

<h1 id="only-the-speaker-can-read-these-notes">- Only the speaker can read these notes</h1>

<h1 id="press-s-key-to-view">- Press <code>S</code> key to view</h1>

<h1 id="speaker-note-1">{{% /speaker_note %}}</h1>

<h1 id="toc_65">```</h1>

<h1 id="press-the-s-key-to-view-the-speaker-notes">Press the <code>S</code> key to view the speaker notes!</h1>

<h1 id="hahahugoshortcode-s3-hbhb"><aside class="notes">
  <h1 id="only-the-speaker-can-read-these-notes">- Only the speaker can read these notes</h1>

<h1 id="press-s-key-to-view">- Press <code>S</code> key to view</h1>
</aside></h1>

<h1 id="toc_68">&mdash;</h1>

<h1 id="themes">## Themes</h1>

<h1 id="black-black-background-white-text-blue-links-default">- black: Black background, white text, blue links (default)</h1>

<h1 id="white-white-background-black-text-blue-links">- white: White background, black text, blue links</h1>

<h1 id="league-gray-background-white-text-blue-links">- league: Gray background, white text, blue links</h1>

<h1 id="beige-beige-background-dark-text-brown-links">- beige: Beige background, dark text, brown links</h1>

<h1 id="sky-blue-background-thin-dark-text-blue-links">- sky: Blue background, thin dark text, blue links</h1>

<h1 id="toc_75">&mdash;</h1>

<h1 id="night-black-background-thick-white-text-orange-links">- night: Black background, thick white text, orange links</h1>

<h1 id="serif-cappuccino-background-gray-text-brown-links">- serif: Cappuccino background, gray text, brown links</h1>

<h1 id="simple-white-background-black-text-blue-links">- simple: White background, black text, blue links</h1>

<h1 id="solarized-cream-colored-background-dark-green-text-blue-links">- solarized: Cream-colored background, dark green text, blue links</h1>

<h1 id="toc_80">&mdash;</h1>

<h1 id="hahahugoshortcode-s4-hbhb">
<section data-noprocess data-shortcode-slide
  
      
      data-background-image="/img/boards.jpg"
  >
</h1>

<h1 id="custom-slide">## Custom Slide</h1>

<h1 id="customize-the-slide-style-and-background">Customize the slide style and background</h1>

<h1 id="markdown-1">```markdown</h1>

<h1 id="slide-background-image-img-boards-jpg">{{&lt; slide background-image=&ldquo;/img/boards.jpg&rdquo; &gt;}}</h1>

<h1 id="slide-background-color-0000ff">{{&lt; slide background-color=&ldquo;#0000FF&rdquo; &gt;}}</h1>

<h1 id="slide-class-my-style">{{&lt; slide class=&ldquo;my-style&rdquo; &gt;}}</h1>

<h1 id="toc_88">```</h1>

<h1 id="toc_89">&mdash;</h1>

<h1 id="custom-css-example">## Custom CSS Example</h1>

<h1 id="let-s-make-headers-navy-colored">Let&rsquo;s make headers navy colored.</h1>

<h1 id="create-assets-css-reveal-custom-css-with">Create <code>assets/css/reveal_custom.css</code> with:</h1>

<h1 id="css">```css</h1>

<h1 id="reveal-section-h1">.reveal section h1,</h1>

<h1 id="reveal-section-h2">.reveal section h2,</h1>

<h1 id="reveal-section-h3">.reveal section h3 {</h1>

<h1 id="color-navy">color: navy;</h1>

<h1 id="toc_98">}</h1>

<h1 id="toc_99">```</h1>

<h1 id="toc_100">&mdash;</h1>

<h1 id="questions"># Questions?</h1>

<h1 id="ask-https-discourse-gohugo-io"><a href="https://discourse.gohugo.io" target="_blank">Ask</a></h1>

<h1 id="documentation-https-sourcethemes-com-academic-docs"><a href="https://sourcethemes.com/academic/docs/" target="_blank">Documentation</a></h1>

    </section>
    

    
    
  </div>
</div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/lib/js/head.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/js/reveal.min.js"></script>

  <script>
    window.revealPlugins = { dependencies: [
      { src: 'https:\/\/cdnjs.cloudflare.com\/ajax\/libs\/reveal.js\/3.7.0/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: 'https:\/\/cdnjs.cloudflare.com\/ajax\/libs\/reveal.js\/3.7.0/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: 'https:\/\/cdnjs.cloudflare.com\/ajax\/libs\/reveal.js\/3.7.0/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
      { src: 'https:\/\/cdnjs.cloudflare.com\/ajax\/libs\/reveal.js\/3.7.0/plugin/zoom-js/zoom.js', async: true },
      { src: 'https:\/\/cdnjs.cloudflare.com\/ajax\/libs\/reveal.js\/3.7.0/plugin/math/math.js', async: true },
      { src: 'https:\/\/cdnjs.cloudflare.com\/ajax\/libs\/reveal.js\/3.7.0/plugin/print-pdf/print-pdf.js', async: true },
      
      { src: '\/js\/vendor\/reveal.js\/plugin\/notes\/notes.js', async: true }
    ]};

    let revealDefaults = { center: true, controls: true, history: true, progress: true, transition: 'slide', mouseWheel: true };
    let revealOptions = Object.assign({}, revealDefaults, revealPlugins);
    Reveal.initialize(revealOptions);
  </script>

</body>
</html>
